@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
}

html body {
  background: url(./images/bg-mobile.svg), var(--violet);
  background-repeat: no-repeat;
  background-size: contain;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 2em);
  gap: .5em;
  place-content: center;
}

.socials__facebook {
  width: 0.7em;
  margin: 0 auto;
}

.socials__border {
  border: 1px solid white;
  border-radius: 4em;
  padding: .3em;
}

.socials--invert {
  display: block;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}