@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
}

html body {
  background: url(./images/bg-mobile.svg), var(--violet);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2em;

  font-family: 'Open Sans', sans-serif;
}

.huddle-logo,
.huddle-img__mockup {
  display: block;
}

.huddle-logo {
  width: 9em;
  margin-bottom: 4em;
}

.huddle-img__mockup {
  width: 20em;
  margin: 0 auto;
  margin-bottom: 3em;
}

.huddle-content {
  text-align: center;
  color: white;
  line-height: 1.5;
}

.huddle-content__heading {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1.6rem, 10vw, 2.5rem);
  margin-bottom: .5em;
}

.huddle-content__heading {
  margin-bottom: .5em;
}

.huddle-content__intro {
  margin-bottom: 1.5em;
}

.huddle-content__button {
  background-color: white;
  color: var(--violet);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 2em;
  padding: 1em;
  margin-bottom: 4.5em;
  width: 15em;
}

.huddle-content__button:hover {
  cursor: pointer;
  background-color: var(--soft-magenta);
  color: white;
  transition: all .1s ease-in;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1.9em);
  gap: .5em;
  place-content: center;
}

.socials__container--fb {
  width: 0.7em;
  margin: 0 auto;
}

.socials__container {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4em;
  padding: .3em;
  fill: white;
}

.socials__container:hover {
  cursor: pointer;
  border-color: var(--soft-magenta);
  fill: var(--soft-magenta);
  transition: all .1s ease-in;
}

svg {
  display: block;
}

@media only screen and (width > 900px) {
  html body {
    background: url(./images/bg-desktop.svg), var(--violet);
    background-repeat: no-repeat;
    background-size: 102em;
  }

  main {
    height: 80dvh;
    display: grid;
    grid-template-columns: auto .45fr;
    place-content: center;
    gap: 0 3em;
  }

  .huddle-logo {
    width: revert;
    margin: 0 19em;
  }

  .huddle-content {
    text-align: left;
    padding-top: 2em;
  }

  .huddle-img__mockup {
    width: revert;
  }

  .huddle-content__button {
    font-size: 1.2rem;
    width: 11em;
  }

  .socials {
    margin-left: auto;
    grid-column: 2;
    grid-template-columns: repeat(3, 2.5em);
  }

  .socials__container {
    padding: .7em;
  }

  .socials__container--fb {
    width: 0.8em;
  }
}
